<%= render 'shared/header' %>

<% if user_signed_in? %>
  <h1>Profile</h1>
  <div>
    <h5>Total Given Spice: <%= current_user.likes.count %></h5>
    <h5>Total Received Spice: <%= @total_received_spice %></h5>
  </div>
  <div>
    <h2>Your Posts</h2>
    <% @posts.each do |post| %>
      <%= render partial: 'shared/postcard', locals: { post: post, location: nil } %>
    <% end %>
  </div>
  <div>
    <h2>Your Comments</h2>
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/commentbody', locals: { comment: comment, is_card: true } %>
    <% end %>
  </div>
<% else %>
  <h1>This shouldn't appear...</h1>
<% end %>
