<%= render 'shared/header' %>

<% if user_signed_in? %>
  <h1>Profile</h1>
  <div>
    <h5>Total Given Spice: <%= current_user.likes.count %></h5>
    <h5>Total Received Spice: <%= @total_received_spice %></h5>
  </div>
  <div>
    <h2>Your Posts</h2>
    <% cache(cache_key_for_profile_post_table(@posts)) do %>
      <% @posts.each do |post| %>
        <% cache(cache_key_for_noloc_postcard(post)) do %>
          <%= render partial: 'shared/postcard', locals: { post: post, location: nil } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div>
    <h2>Your Comments</h2>
    <% cache(cache_key_for_comment_card_table(@comments)) do %>
      <% @comments.each do |comment| %>
        <% cache(cache_key_for_comment_card(comment, current_user.id)) do %>
          <%= render partial: 'comments/commentbody', locals: { comment: comment, is_card: true } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h1>This shouldn't appear...</h1>
<% end %>
