<%= render 'shared/header' %>
<div class="login-box-wrapper">
  <div class="panel login-box">
    <div class="panel-header">
      <div class="panel-title">Sign up</div>
    </div>
    <div class="panel-body login-box-inside">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "login-box-form"}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>
      <span class="login-helper-links">
        <%= render "devise/shared/links" %>
      </span>
    </div>
  </div>
</div>
