<div class="card" id="comment-<%= comment.id %>">
  <% cache(cache_key_for_comment_body(comment)) do %>
    <div class="card-body">
      <p><%= comment.body %></p>
      <p>Posted <%= distance_of_time_in_words comment.created_at, Time.now %> ago</p>
      <p id="spice-level-<%= comment.id %>">Spice level: <%= comment.like_count %></p>
    </div>
  <% end %>

  <div class="card-footer">
    <% if user_signed_in? %>
      <% if is_card %>
        <%= link_to 'Full Post', "/posts/#{comment.post_id}", class: "btn btn-primary" %>
      <% else %>
        <%= button_to (current_user.liked? comment) ? 'Despice' : 'Spice',
          post_comment_toggle_like_comment_url(post_id: comment.post_id, comment_id: comment.id),
          method: :post,
          id: "spice-comment-btn-#{comment.id}",
          class: (current_user.liked? comment) ? 'btn btn-error' : 'btn btn-success',
          remote: true %>

        <% if comment.user_id == current_user.id %>
          <%= button_to 'Delete', "/posts/#{comment.post_id}/comments/#{comment.id}", method: :delete, class: 'btn btn-error', remote: true %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
