<div class="card">
  <div class="card-header">
    <div class="card-title h5"><%= post.title %></div>
    <% if location.present? %>
      <div class="card-subtitle text-gray">Distance: <%= number_with_precision post.distance_to(location), precision: 2 %>mi</div>
    <% end %>
  </div>
  <% if post.image.attached? %>
    <div class="card-image">
      <%= image_tag post.image, class: 'img-responsive', alt: 'post image', style:"height: 100px"  %>
    </div>
  <% else %>
    <div class="card-image">
      <%= image_tag "teapoticon.png", class: 'img-responsive', alt: 'post image', style:"height: 100px"  %>
    </div>
  <% end %>
  <div class="card-body">
    <span>spice level: <%= post.likes.count %></span>
    <br/>
    <span><%= post.comments.size %> comment<%= 's' unless post.comments.size == 1 %></span>
  </div>
  <div class="card-footer">
    <%= link_to 'Full post', post_path(post), class: "btn btn-primary" %>
  </div>
</div>
