<div class="login-box-wrapper">
  <div class="panel login-box">
    <div class="panel-header">
      <div class="panel-title">Log in</div>
    </div>
    <div class="panel-body login-box-inside">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-box-form"}) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>
      <span class="login-helper-links">
        <%= render "devise/shared/links" %>
      </span>
    </div>
  </div>
</div>
