<%= render 'shared/header' %>

<h1>Spiciest Posts</h1>

<% cache(cache_key_for_noloc_post_table(@posts, @spiciest_page_num)) do %>
  <% @posts.each do |post| %>
    <% cache(cache_key_for_noloc_postcard(post)) do %>
      <%= render partial: 'shared/postcard', locals: { post: post, location: nil } %>
    <% end %>
  <% end %>
<% end %>

<ul class="pagination">
  <li class="page-item page-prev <%= "disabled" unless @spiciest_page_num > 1 %>">
    <%= link_to "Previous posts", spiciest_path(spiciest_page_num: @spiciest_page_num - 1), class: "page-item-title h5" %>
  </li>
  <li class="page-item page-next <%= "disabled" unless @spiciest_page_num < @spiciest_page_num_max %>">
    <%= link_to "Next posts", spiciest_path(spiciest_page_num: @spiciest_page_num + 1), class: "page-item-title h5" %>
  </li>
</ul>
