
<h1><%= @post.title %></h1>
<% if @post.image.attached? %>
  <div class="card-image">
    <%= image_tag @post.image, class: 'img-responsive', alt: 'post image', style: "height: 300px" %>
  </div>
<% end %>
<% if location.present? %>
  <h4>Distance: <%= (session[:post_loc_cache] && session[:post_loc_cache][@post.id]) || @post.distance_manual(location) %>mi</h4>
<% end %>
<h4><%= distance_of_time_in_words @post.created_at, Time.now %> ago</h4>
<p><%= @post.body %></p>
<h4>spice level: <%= @post.likes.count %></h4>

<% if user_signed_in? %>
  <%= button_to (current_user.liked? @post) ? 'despice' : 'spice',
      post_toggle_like_post_url(post_id: @post.id),
      method: :post,
      params: { post_id: @post.id, comments_page_num: comments_page_num },
      class: (current_user.liked? @post) ? 'btn btn-error' : 'btn btn-success' %>

  <% if @post.user_id == current_user.id %>
    <%= button_to 'Delete Post', post_url(post_id: @post.id), method: :delete, class: 'btn btn-error' %>
  <% end %>

  <div>Write Comment: </div>
  <%= form_with method: "post", url: post_comments_path(post_id: @post.id), local: true do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :post_id, value: @post.id %>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit "Post Comment", class: "btn btn-success" %>
    </p>
  <% end %>
<% else %>
  <p>Login to make a comment!</p>
<% end %>

<% if @comments.blank? %>
  <div>No comments...</div>
<% else %>
  <div>Comments: </div>
  <% @comments.each do |comment| %>
    <%= render partial: 'comments/commentbody', locals: { comment: comment, comments_page_num: @comments_page_num, is_card: false } %>
  <% end %>

  <ul class="pagination">
    <li class="page-item page-prev <%= "disabled" unless @comments_page_num > 1 %>">
      <%= link_to "Previous comments", post_path(id: @post.id, comments_page_num: @comments_page_num - 1), class: "page-item-title h5" %>
    </li>
    <li class="page-item page-next <%= "disabled" unless @comments_page_num < @comments_page_num_max %>">
      <%= link_to "Next comments", post_path(id: @post.id, comments_page_num: @comments_page_num + 1), class: "page-item-title h5" %>
    </li>
  </ul>
<% end %>

<%= link_to 'Back', '/posts/' %>
