<%= render 'shared/header' %>
<%= link_to 'New post', '/posts/new' %>

<p>Your location: <%= @location.first %>, <%= @location.last %></p>

<% @posts.each do |post| %>
  <div>
    <h1><%= post.title %></h1>
    <h3>spice level: <%= post.likes %></h3>
    <h3><%= post.latitude %>, <%= post.longitude %></h3>
    <p><%= link_to 'Full post', post_path(post) %></p>
  </div>
<% end %>
