<%= render 'shared/header' %>

<% if user_signed_in? %>
  <% if @location == [0, 0] %>
    <p id="curloc">Computing location...</p>
    <%= javascript_tag 'postHTML5Loc()' %>
  <% else %>
    <p id="curloc">Your location: <%= @location.first %>, <%= @location.last %></p>
  <% end %>

  <%= form_tag posts_path, :method => 'get' do %>
    Sort by:
    <%= select_tag :sort, options_for_select({'Brewing Near You' => 'brewing', 'Spiciest' => 'spiciest', 'Freshest' => 'freshest'}, @sort), :onChange=>'this.form.submit();' %>
  <% end %>

  <div id="postcards">
    <% @posts.each do |post| %>
      <%= render partial: 'shared/postcard', locals: { post: post, location: @location } %>
    <% end %>
  </div>
<% else %>
  <%= render 'shared/notsignedin' %>
<% end %>
