<%= render 'shared/header' %>

<% if user_signed_in? %>
  <% if @location == [0, 0] %>
    <p id="curloc">Computing location...</p>
    <%= javascript_tag 'postHTML5Loc()' %>
  <% else %>
    <p id="curloc">Your location: <%= @location.first %>, <%= @location.last %></p>
  <% end %>

  <%= form_tag posts_path, :method => 'get' do %>
    Sort by:
    <%= select_tag :sort, options_for_select(['closest', 'spiciest', 'freshest'].index_by(&:capitalize), @sort), :onChange=>'this.form.submit();' %>
  <% end %>

  <div id="postcards">
    <% cache(cache_key_for_postcard_table(@posts, @location, @posts_page_num, @sort)) do %>
      <% @posts.each do |post| %>
        <% cache(cache_key_for_postcard(post, @location)) do %>
          <%= render partial: 'shared/postcard', locals: { post: post, location: @location } %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <ul class="pagination">
    <li class="page-item page-prev <%= "disabled" unless @posts_page_num > 1 %>">
      <%= link_to "Previous posts", posts_path(sort: @sort, posts_page_num: @posts_page_num - 1), class: "page-item-title h5" %>
    </li>
    <li class="page-item page-next <%= "disabled" unless @posts_page_num < @posts_page_num_max %>">
      <%= link_to "Next posts", posts_path(sort: @sort, posts_page_num: @posts_page_num + 1), class: "page-item-title h5" %>
    </li>
  </ul>
<% else %>
  <%= render 'shared/notsignedin' %>
<% end %>
