<%= render 'shared/header' %>

<% if user_signed_in? %>
  <% if @location == [0,0] %>
    <p id="curloc">Computing location...</p>
    <%= javascript_tag 'postHTML5Loc()' %>
  <% else %>
    <p id="curloc">Your location: <%= j (@location.first) %>, <%= j (@location.last) %></p>
  <% end %>
  <div>
    <%= form_tag posts_path, :controller => 'posts', :action => 'index', :method => 'get' do %>
      Sort by: 
      <%= select_tag :sort, options_for_select(['distance', 'spice'], @sort), :onChange=>'this.form.submit();' %>
    <% end %>
  </div>
  <div id="postcards">
    <% @posts.each do |post| %>
      <%= render partial: 'shared/postcard', locals: { post: post } %>
    <% end %>
  </div>
<% else %>
  <%= render 'shared/notsignedin' %>
<% end %>
