<%= render 'shared/header' %>

<% if user_signed_in? %>
  <%= form_with scope: :post, url: posts_path, local: true do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>

    <p>Location: <%= @location.first %>, <%= @location.last %></p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% else %>
  <%= link_to 'Login to make a post!', '/users/sign_in' %>
<% end %>
