<%= render 'shared/header' %>
<div class="card">
  <div class="card-header">
    <div class="card-title h5"><%= @post.title %></div>
    <div class="card-subtitle text-gray"><%= @post.latitude %>, <%= @post.longitude %></div>
    <div>
      <% if user_signed_in? %>
        <%=button_to (current_user.liked? @post) ? "despice: #{@post.votes_for.size}" : "spice: #{@post.votes_for.size}",
          post_toggle_like_post_url(post_id: @post.id),
          method: :post,
          params: { post_id: @post.id },
          class: (current_user.liked? @post) ? "btn btn-error" : "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <p><%= @post.body %></p>
  </div>
  <div class="card-footer">
    <% if user_signed_in? %>
      <% if current_user.id == @post.user_id %>
        <%= button_to 'Delete Post', @post, method: :delete, class: "btn btn-error" %>
      <% end %>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>

  <div>Write Comment: </div>

  <%= form_with method: "post", url: post_comments_path(post_id: @post.id), local: true do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :post_id, value: @post.id %>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit "Post Comment", class: "btn btn-success" %>
    </p>
  <% end %>
<% else %>
  <p>Login to make a comment!</p>
<% end %>

<% if @comments.nil? %>
  <div>No comments...</div>
<% else %>
  <div>Comments: </div>
  <% @comments.each do |comment| %>
    <div class="card">
      <div class="card-body">
        <p><%= comment.body %></p>
        <% if user_signed_in? %>
          <%= button_to (current_user.liked? comment) ? "despice: #{comment.votes_for.size}" : "spice: #{comment.votes_for.size}",
            post_comment_toggle_like_comment_url(post_id: @post.id, comment_id: comment.id),
            method: :post,
            params: { comment_id: comment.id },
            class: (current_user.liked? comment) ? 'btn btn-error' : 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', '/posts/' %>
