<%= render 'shared/header' %>

<h1><%= @post.title %></h1>
<h4>
  <%= button_to (current_user.liked? @post) ? 'despice' : 'spice',
      post_toggle_like_post_url(post_id: @post.id),
      method: :post,
      params: { post_id: @post.id }%>
   spice level: <%= @post.votes_for.size %>
</h4>
<h4><%= @post.latitude %>, <%= @post.longitude %></h4>
<p><%= @post.body %></p>

<% if user_signed_in? %>
  <% if current_user.id == @post.user_id %>
    <%= button_to 'DELETE THIS POST', @post, method: :delete %>
  <% end %>

  <div>add comment here!</div>

  <%= form_with method: "post", url: post_comments_path(post_id: @post.id), local: true do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :post_id, value: @post.id %>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% else %>
  <p>Login to make a comment!</p>
<% end %>

<% if @comments.nil? %>
  <div>No comments...</div>
<% else %>
  <% @comments.each do |comment| %>
    <div>
      <span>
        <%= button_to (current_user.liked? comment) ? 'despice' : 'spice',
            post_comment_toggle_like_comment_url(post_id: @post.id, comment_id: comment.id),
            method: :post,
            params: { comment_id: comment.id } %>
        <p>spice level: <%= comment.votes_for.size %></p>
      </span>
      <p><%= comment.body %></p>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', '/posts/' %>
