<!DOCTYPE html>
<html>
  <head>
    <title>TicTacTea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% cache(cache_key_for_header(current_user)) do %>
      <%= render 'shared/header' %>
    <% end %>
    <% if notice.present? %>
      <%= notice %>
      <div class="divider"></div>
    <% end %>
    <% if alert.present? %>
      <%= alert %>
      <div class="divider"></div>
    <% end %>
    <%= yield %>
  </body>
</html>
